<div class="uk-overflow-container">
    <table class="uk-table ajax-loader-target">
        <thead>
            <th>{{ name_singular|title }}</th>
            {% if list_fields %}
                {% for field, label in list_fields %}
                    <th>{{ label }}</th>
                {% endfor %}
            {% endif %}
            {% if edit_view %}
                <th>&nbsp;</th>
            {% endif %}

        </thead>
        <tbody>
        {% include 'component-table-content.html' %}
        </tbody>
    </table>
</div>
