{% extends "generic-base.html" %}

{% block title %}{{ current_object }}{% endblock %}

{% block body %}
    <div class="uk-margin-top">
        <div class="uk-grid">
            <div class="uk-width-medium-3-4">
                {% if list_view %}
                    <ul class="uk-breadcrumb">
                        <li><a href="{{ url_for(list_view) }}">{{ name_plural|title }}</a></li>
                        <li class="uk-active"><span>{{ current_object }}</span></li>
                    </ul>
                {% endif %}
            </div>
            <div class="uk-width-medium-1-4">
                <div class="uk-align-medium-right uk-button-group">
                    {% if edit_view %}
                        <a class="uk-button" href="{{ url_for(edit_view, urlsafe=current_object.key.urlsafe()) }}"><i class="uk-icon-pencil"></i> Edit</a>
                    {% endif %}
                    {% if delete_view %}
                        <a class="uk-button uk-button-danger" href="{{ url_for(delete_view, urlsafe=current_object.key.urlsafe()) }}"><i class="uk-icon-ban"></i> Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <dl class="uk-description-list-horizontal">
            {% for field_name, field in form._fields.items() %}
                {% if field.type != 'HiddenField' %}
                    {% if field.type == 'DateTimeField' %}
                        <dt>{{ field.label }}</dt>
                        <dd>{{ moment(field.data).format(js_datetimeformat) }}</dd>
                    {% elif field.type == 'DateField' %}
                        <dt>{{ field.label }}</dt>
                        <dd>{{ moment(field.data).format(js_dateformat) }}</dd>
                    {% elif field.type == 'KeyPropertyField' %}
                        <dt>{{ field.label }}</dt>
                        <dd>
                            {% if get_object_view(field.data) %}
                                <a href="{{ get_object_view(field.data) }}">{{ field.data.get() }}</a>
                            {% else %}
                                {% if field.data %}
                                    {{ field.data.get() }}
                                {% else %}
                                    None
                                {% endif %}
                            {% endif %}
                        </dd>
                    {% elif field.type == 'HtmlField' %}
                        <dt>{{ field.label }}</dt>
                        <dd class="shadow-hack">{{ field.data }}&nbsp;</dd>
                    {% elif field.type == 'FormattedTextField' %}
                        <dt>{{ field.label }}</dt>
                        <dd><pre>{{ field.data }}</pre></dd>
                    {% elif field.type == 'MarkdownField' %}
                        <dt>{{ field.label }}</dt>
                        <dd>
                            <div class="uk-overflow-container uk-panel uk-panel-box">
                                <div class="uk-panel-badge uk-badge">Markdown</div>
                                <div class="render-markdown">{{ field.data }}</div>
                            </div>
                        </dd>
                    {% else %}
                        <dt>{{ field.label }}</dt>
                        <dd>{{ field.data or '-' }}</dd>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </dl>
        {% if current_object._created and current_object._modified %}
            <div>
                Created {{ moment(current_object._created).fromTime(global_now) }}
                {% if current_object._created.strftime('%Y-%m-%d %H:%M') != current_object._modified.strftime('%Y-%m-%d %H:%M') %}
                    | Updated {{ moment(current_object._modified).fromTime(global_now) }}
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
