{% extends "generic-base.html" %}
{% import "components/display.html" as display %}
{% block title %}View {{ name_plural|title }}{% endblock %}

{% block body %}
    <div class="uk-margin-top">
        <div class="uk-grid">
            <div class="uk-width-medium-3-4">
                {% if list_view %}
                    <ul class="uk-breadcrumb">
                        <li class="uk-active"><span>{{ name_plural|title }}</span></li>
                    </ul>
                {% endif %}
            </div>
            <div class="uk-width-medium-1-4">
                <div class="uk-align-medium-right uk-button-group">
                    {% if new_view %}
                        <div><a class="uk-button" href="{{ url_for(new_view) }}"><i class="uk-icon-plus"></i> New {{ name_singular|title }}</a></div>
                    {% endif %}
                </div>
            </div>
        </div>

        {{ display.generic_loader(rows=rows, controller=controller, next_cursor=next_cursor) }}
    </div>
{% endblock %}
