{% extends "base.html" %}

{% from "admin/navbar.html" import iterchildren %}

{% block navbar_brand %}
    <ul class="uk-navbar-nav">
        <li><a class="uk-navbar-brand" href="/admin/">Admin</a></li>
    </ul>
{% endblock %}
{% block navbar_main %}
    <ul class="uk-navbar-nav">
        {{ iterchildren(navbar.children) }}
    </ul>
{% endblock %}
{% block navbar_search %}
    <div class="uk-navbar-content uk-hidden-small">
        <form class="uk-form uk-margin-remove uk-display-inline-block" method="get" action="{{ url_for('admin.admin_search') }}">
            <input placeholder="Search" name="q" type="text"/>
        </form>
    </div>
{% endblock %}
