{% extends "base-middle-page.html" %}
{% import "components/forms.html" as forms with context %}

{% block title %}
    Welcome
{% endblock %}
{% block body %}
    <h2>Welcome</h2>

    <p>Set your password to continue</p>

    <div class="uk-text-left">
    {{ forms.show_form(form, submit_button_text='Create Account') }}
    </div>
{% endblock body %}
