{% extends "base-middle-page.html" %}

{% block title %}
    Invitation Token Not Found
{% endblock %}

{% block body %}
    <p><i class="uk-icon-compass uk-icon-large"></i></p>
    <h1>Invitation Token Not Found</h1>
    <p>The email invitation link you used has expired or is invalid.</p>
{% endblock %}
