{% extends "base-middle-page.html" %}

{% block title %}
    401: Not Authorized
{% endblock %}

{% block body %}
    <p><i class="uk-icon-ban uk-icon-large"></i></p>
    <h1>401: Not Authorized</h1>
    <p>You are not authorized to access this resource.</p>
{% endblock %}
