{% extends "base-middle-page.html" %}

{% block title %}
    403: Permission Denied
{% endblock %}

{% block body %}
    <p><i class="uk-icon-ban uk-icon-large"></i></p>
    <h1>403: Permission Denied</h1>
    <p>You do not have permission to access this page.</p>
{% endblock %}
