{% extends "base-middle-page.html" %}

{% block title %}
    404: Not Found
{% endblock %}

{% block body %}
    <p><i class="uk-icon-compass uk-icon-large"></i></p>
    <h1>404: Page Not Found</h1>
    <p>The request pages was not found on this server.</p>
{% endblock %}
