{% extends "base-middle-page.html" %}

{% block title %}
    405: Method Not Allowed
{% endblock %}

{% block body %}
    <p><i class="uk-icon-compass uk-icon-large"></i></p>
    <h1>405: Method Not Allowed</h1>
    <p>The method you used to post to this URL is not supported by the specified controller.</p>
{% endblock %}
