{% extends "base-middle-page.html" %}

{% block title %}
    500: Server Error
{% endblock %}

{% block body %}
    <p><i class="uk-icon-bug uk-icon-large"></i></p>
    <h1>500: Server Error</h1>
    <p>There was an error generating this page.</p>
{% endblock %}
