{# base.html #}<!DOCTYPE html>
{% block html_tag %}
    <html lang="en">
{% endblock %}
<head>
    <title>{% block title %}NAME THIS PAGE{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/all.css">
    {% block head %}
    {% endblock %}
</head>

{% block body_tag %}
    <body>
{% endblock %}

{% block container_begin %}
    <div class="uk-container uk-container-center">
{% endblock %}

{#{% block debug_area %}#}
{#    <pre>{{ session.items() }}</pre>#}
{#{% endblock %}#}

{% block navbar %}
    <nav class="uk-navbar">
        {% block navbar_brand %}
            <ul class="uk-navbar-nav">
                <li><a class="uk-navbar-brand" href="/">{{ config.site_name }}</a></li>
            </ul>
        {% endblock %}
        {% block navbar_main %}
        {% endblock %}
        <div class="uk-navbar-flip">
            {% block navbar_search %}
            {% endblock %}
            {% block nabar_user %}
                <ul class="uk-navbar-nav">
                    {% if (not current_account) or current_account.is_anonymous %}
                        <li><a href="{{ url_for('users.login') }}"><i class="uk-icon-sign-in"></i> Login</a></li>
                    {% else %}
                        <li class="uk-parent" data-uk-dropdown>
                            <a href=""><i class="uk-icon-user"></i></a>

                            <div class="uk-dropdown uk-dropdown-navbar">
                                <ul class="uk-nav uk-nav-navbar">
                                    <li class="uk-nav-header">{{ current_account.display_name }}</li>
                                    <li><a href="{{ url_for('users.profile') }}"><i class="uk-icon-user"></i> My Profile</a></li>
                                    {% if current_tenant %}
                                        <li class="uk-nav-header">{{ current_tenant.name }}</li>
                                        <li><a href="{{ url_for('tenants.tenant_overview') }}"><i class="uk-icon-briefcase"></i> My Account</a></li>
                                        {% if current_account.tenant_count > 1 %}
                                            <li><a href="{{ url_for('tenants.choose') }}"><i class="uk-icon-institution"></i> Change Account</a></li>
                                        {% endif %}
                                    {% endif %}
                                    {% if current_account.is_superuser %}
                                        <li class="uk-nav-divider"></li>
                                        <li><a href="{{ url_for('admin.dashboard') }}"><i class="uk-icon-gears"></i> Admin</a></li>
                                    {% endif %}
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="{{ url_for('users.logout') }}"><i class="uk-icon-sign-out"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                </ul>

            {% endblock %}
        </div>
    </nav>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block body %}{% endblock %}

{% block container_end %}
    </div>
{% endblock %}

{% block base_scripts %}
    <script src="/static/all.js"></script>

    {% block csrf_js %}
        <script type="text/javascript">
            $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader('X-CSRFToken', "{{ csrf_token() }}");
            });
            // x_find_csrf_token {{ csrf_token() }}
        </script>
    {% endblock %}
    <script>

    </script>
    <script>
        moment.locale("en");
    </script>

    <script type="text/javascript">
        $(function () {
            $('.parsley-validate').parsley({
                successClass: 'uk-text-success',
                errorClass: 'uk-text-danger',
                errorsWrapper: '<div></div>',
                errorTemplate: '<div class="uk-alert uk-alert-warning"></div>'
            });
        });
    </script>

{% endblock %}
{% block notifications %}
    {% include "components/notifications.html" %}
{% endblock %}
{% block modals %}
{% endblock %}
{% block scripts %}
{% endblock %}

</body>
</html>
