{% with messages = get_flashed_messages(with_categories=true) %}
    <script type="text/javascript">
        {#    toastr.options = {#}
        {#      "closeButton": true,#}
        {#      "debug": false,#}
        {#      "newestOnTop": true,#}
        {#      "progressBar": true,#}
        {#      "positionClass": "toast-top-right",#}
        {#      "preventDuplicates": false,#}
        {#      "onclick": null,#}
        {#      "showDuration": "300",#}
        {#      "hideDuration": "1000",#}
        {#      "timeOut": "5000",#}
        {#      "extendedTimeOut": "1000",#}
        {#      "showEasing": "swing",#}
        {#      "hideEasing": "linear",#}
        {#      "showMethod": "fadeIn",#}
        {#      "hideMethod": "fadeOut"#}
        {#    }#}
        {% for category, message in messages %}
            UIkit.notify({
                message: {{ message|tojson|safe }},
                status: '{{ category or 'info'|tojson|safe }}',
                timeout: 5000,
                pos: 'top-right'
            });
        {% endfor %}
    </script>
{% endwith %}