{% extends "admin/admin-base.html" %}

{% block title %}{% trans %}Search{% endtrans %}{% endblock %}

{% block body %}
    <div class="uk-margin">
        <form method="get" action="{{ url_for('admin.admin_search') }}" class="uk-form uk-width-1-1">
            <div class="uk-grid uk-grid-collapse">
                <div class="uk-width-9-10">
                <input type="text" name="q" value="{{ query }}" placeholder="Search String" class="uk-width-1-1 uk-form-large">
                </div>
                <div class="uk-width-1-10">
                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit"><i class="uk-icon-search"></i> {% trans %}Search{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>

    {% if query %}
        {% if number_found %}
            {% if number_found == 1 %}
                <p class="uk-text-bold uk-text-center">{% trans %}Your query{% endtrans %} (<span class="uk-text-primary">"{{ query }}"</span>) {% trans %}returned 1 result.{% endtrans %}</p>
            {% else %}
                <p class="uk-text-bold uk-text-center">{% trans %}Your query{% endtrans %} (<span class="uk-text-primary">"{{ query }}"</span>) {% trans %}returned{% endtrans %} {{ number_found }} {% trans %}results.{% endtrans %}</p>
            {% endif %}
        {% else %}
            <p class="uk-text-bold uk-text-center">{% trans %}Your query{% endtrans %} (<span class="uk-text-primary">"{{ query }}"</span>) {% trans %}returned no results.{% endtrans %}</p>
        {% endif %}
        <hr>
        <dl class="uk-description-list-line">
        {% if results %}
            {% for result in results %}
                {% set current_object = get_from_search_doc(result) %}
                {% if current_object %}
                <dt>
                    {% if get_object_view(current_object) %}
                        <a href="{{ get_object_view(current_object) }}">{{ current_object }}</a>
                    {% else %}
                        {{ current_object }}
                    {% endif %}
                    <div class="uk-badge">{{ current_object.get_class_badge() }}</div>
                </dt>
                {% endif %}
            {% endfor %}
        {% endif %}
        </dl>
    {% endif %}
{% endblock %}
